{% extends "base.html" %}

{% block title %}Sessions
{% endblock %}

{% block content %}
	<h1>New Chat</h1>
	<div class="chatbox">
	<form action="/api/message" method="post">
		<div class="opt-reasoning">
			<input type="checkbox" name="reasoning" id="reasoning" checked>
			<label for="reasoning">Reasoning</label>
		</div>
		<div class="opt-model">
			<select name="model" id="model">
				{% for model in models %}
					<option value="{{ model.id }}" {% if loop.first %}selected{% endif %}>
						{{ model.id }}
					</option>
				{% endfor %}
			</select>
		</div>
		<div class="input">
			<textarea name="prompt" id="prompt" rows="2" placeholder="Message" required></textarea>
		</div>

		<button type="submit" title="Send"><i class="fa-solid fa-paper-plane"></i></button>
	</form>
	</div>

	<hr>

	<table>
		<tr>
			<th>Created</th>
			<th>Session</th>
		</tr>
		{% for session_id, timestamp, title in sessions %}
		<tr>
			<td>{{ timestamp|format_timestamp }}</td>
			<td><a href="/session/{{ session_id }}">{{ title }}</a></td>
		</tr>
		{% endfor %}
	</table>


{% endblock %}
