{% extends "base.html" %}

{% block title %}Session {{ session_id }}{% endblock %}

{% block content %}
	<h1>Session: {{ session_id }}</h1>

	{% if request.path.startswith('/archive/') %}
	<form action="/session/{{ session_id }}/unarchive" method="post">
		<button type="submit">Unarchive</button>
	</form>
	{% else %}
	<form action="/session/{{ session_id }}/archive" method="post">
		<button type="submit">Archive</button>
	</form>
	{% endif %}

	<div class="messages">
	{% for turn in turns %}
		<div class="message">
			<p>{{ turn[0].timestamp|format_timestamp }}</p>
			{% for msg in turn %}
			{% if msg.type == "prompt" %}
				<div class="prompt">
					<div>
						<i class="fa-regular fa-copy copy-button" onclick="copyContent(this)"></i>
						<i class="fa-solid fa-chevron-up collapse-button" onclick="collapse(this)"></i>
						<div class="content">
							{{ msg.content }}
						</div>
					</div>
					<div style="display:none;">
						<i class="fa-solid fa-chevron-down expand-button" onclick="expand(this)"></i>
						<span>{{ msg.content[:30] }}</span>
					</div>
				</div>
			{% elif msg.type == "reasoning" %}
				<div class="reasoning">
					<div>
						<i class="fa-regular fa-copy copy-button" onclick="copyContent(this)"></i>
						<i class="fa-solid fa-chevron-up collapse-button" onclick="collapse(this)"></i>
						<div class="content">
							{{ msg.content|markdown|safe }}
						</div>
					</div>
					<div style="display:none;">
						<i class="fa-solid fa-chevron-down expand-button" onclick="expand(this)"></i>
						<span>{{ msg.content[:30] }}</span>
					</div>
				</div>
			{% elif msg.type == "tool_call" %}
				<div class="tool">
					<div>
						<i class="fa-regular fa-copy copy-button" onclick="copyContent(this)"></i>
						<i class="fa-solid fa-chevron-up collapse-button" onclick="collapse(this)"></i>
						<div class="content">
							{% for call in msg.tool_calls %}<div>{{ call.function.name }}({{ call.function.arguments }})</div>{% endfor %}
						</div>
					</div>
					<div style="display:none;">
						<i class="fa-solid fa-chevron-down expand-button" onclick="expand(this)"></i>
						<span>{{ msg.tool_calls[0].function.name }}(...)</span>
					</div>
				</div>
			{% elif msg.type == "tool_result" %}
				<div class="tool">
					<div>
						<i class="fa-regular fa-copy copy-button" onclick="copyContent(this)"></i>
						<i class="fa-solid fa-chevron-up collapse-button" onclick="collapse(this)"></i>
						<div class="content">
							<div>{{ msg.name }} &rarr; {{ msg.content }}</div>
						</div>
					</div>
					<div style="display:none;">
						<i class="fa-solid fa-chevron-down expand-button" onclick="expand(this)"></i>
						<span>{{ msg.name }} &rarr; {{ msg.content[:20] }}</span>
					</div>
				</div>
			{% elif msg.type == "error" %}
				<div class="error">
					<div>
						<i class="fa-regular fa-copy copy-button" onclick="copyContent(this)"></i>
						<i class="fa-solid fa-chevron-up collapse-button" onclick="collapse(this)"></i>
						<div class="content">
							<p>{{ msg.error.message }}</p>
							<small>Code: {{ msg.error.code }}</small>
							{% if msg.error.metadata %}
								<p>{{ msg.error.metadata.raw }}</p>
							{% endif %}
						</div>
					</div>
					<div style="display:none;">
						<i class="fa-solid fa-chevron-down expand-button" onclick="expand(this)"></i>
						<span>{{ msg.error.message[:30] }}</span>
					</div>
				</div>
			{% elif msg.type == "response" and msg.content %}
				<div class="response">
					<div>
						<i class="fa-regular fa-copy copy-button" onclick="copyContent(this)"></i>
						<i class="fa-solid fa-chevron-up collapse-button" onclick="collapse(this)"></i>
						<div class="content">
							{{ msg.content|markdown|safe }}
						</div>
						<div class="info"><small>{{ msg.model }} ({{ msg.cost or 0 }}$)</small></div>
					</div>
					<div style="display:none;">
						<i class="fa-solid fa-chevron-down expand-button" onclick="expand(this)"></i>
						<span>{{ msg.content[:30] }}</span>
					</div>
				</div>
			{% endif %}
			{% endfor %}
		</div>
	{% endfor %}
	</div>

	{% if not request.path.startswith('/archive/') %}
	<hr>

	<div class="chatbox">
	<form action="/api/message/{{ session_id }}" method="post">
		<div class="opt-reasoning">
			<input type="checkbox" name="reasoning" id="reasoning" checked>
			<label for="reasoning">Reasoning</label>
		</div>
		<div class="opt-model">
			<select name="model" id="model">
				{% for model in models %}
					<option value="{{ model.id }}" {% if model.id == default_model %}selected{% endif %}>
						{{ model.id }}
					</option>
				{% endfor %}
			</select>
		</div>
		<div class="input">
			<textarea name="prompt" id="prompt" rows="2" placeholder="Message" required></textarea>
		</div>

		<button type="submit" title="Send"><i class="fa-solid fa-paper-plane"></i></button>
	</form>
	</div>
	{% endif %}


<script>
document.addEventListener('DOMContentLoaded', function() {
    initializeChatView();
});
</script>

{% endblock %}
